<h1>Create an Account</h1>
<form action='/users' method="post">
  <input type="text" name="username" placeholder="Username" />
  <input type="password" name="password" placeholder="Password"/>
  <input type="submit" value="Login" />
</form>
<%= @message %>
