<h1>Edit a Song</h1>
  <form action="/songs/" method="POST">
    <li>
    <label for="song_title">Title</label>
    <input id="song_title" type="text" name="song[title]"/>
    </li>
    <li>
    <label for="song_singer">Singer</label>
    <input id="song_singer" type="text" name="song[singer]"/>
    </li>
    <li>
    <label for="song_author">Author</label>
    <input id="song_author" type="text" name="song[author]"/>
    </li>
  </form>
